{% extends 'base.html.twig' %}

{% block title %}Créer un Client{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-6 ">
            <h1 class="mt-5 mb-4 text-center">Créer un Client</h1>
            <div class="border p-4 rounded shadow-sm">
                <form method="POST" action="{{ path('app_client_create') }}">
                    <!-- Informations du Client -->
                    <div class="form-group">
                        <label for="surname">Nom de famille</label>
                        <input type="text" id="surname" name="surname" class="form-control" required>
                        {% if errors.surname is defined %}
                            <small class="text-danger">{{ errors.surname }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group mt-3">
                        <label for="telephone">Téléphone</label>
                        <input type="text" id="telephone" name="telephone" class="form-control" required>
                        {% if errors.telephone is defined %}
                            <small class="text-danger">{{ errors.telephone }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group mt-3">
                        <label for="adresse">Adresse</label>
                        <input type="text" id="adresse" name="adresse" class="form-control" required>
                    </div>

                    <!-- Informations du Compte Utilisateur -->
                    <h3 class="mt-4 text-center">Compte Utilisateur</h3>

                    <div class="form-group mt-3">
                        <label for="login">Login</label>
                        <input type="text" id="login" name="compte[login]" class="form-control" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="compte[password]" class="form-control" required>
                    </div>

                    <!-- Bouton de soumission -->
                    <div class="text-center mt-4 px-4 py-2">
                        <button type="submit" class="btn btn-dark px-5">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
